.rectangle {
    width: 100vw;
    height: 15vh;
    background-color: rgb(180, 189, 197);
    position: ;
}
.box {
    width: 75px;
    height: 75px;
    background-color: blue;
    position: relative;
    top: 10px;
    left: 30px;
}

.paragraph {
    width: 100vw;
    height: 25vh;
    background-color: rgb(223, 227, 231);
       
}
p {
    padding: 50px;
    text-align: center;
    color: black;
    position: relative;
    letter-spacing: 2px;
    line-height: 1.2em;
}
.stripe1 {
    width: 100vw;
    height: 20vh;
    background-color: blue;

}
.stripe2{
    width: 100vw;
    height: 20vh;
    background-color: rgb(17, 235, 235);

}
.stripe3{
    width: 100vw;
    height: 20vh;
    background-color: rgb(125, 204, 22);

}
.stripe4{
    width: 100vw;
    height: 20vh;
    background-color: rgb(239, 255, 8);

}
    
